body {
  background-color: white;
  font-style: normal;
  font-variant-ligatures: normal;
  font-variant-caps: normal;
  font-variant-numeric: normal;
  font-weight: normal;
  font-stretch: normal;
  font-size: 20px;
  line-height: 1.5;
  font-family: sans-serif;
  margin-top: 0.3em;
  margin-right: 0px;
  margin-bottom: 0.3em;
  margin-left: 0px;
}

html {
  display: block;
}

div {
  display: block;
}

.main-header {
  text-align: justify;
  vertical-align: top;
  width: 75%;
  font-size: 15px;
  margin: 0 auto;
  margin-top: 40px;
  padding: 0.5em 1em;
}

p {
  font-family: sans-serif;
  font-size: 12px;
  margin: 10px;
}

.main-header p {
  font-size: 16px;
}

.main-header p .welcome {
  text-align: right;
}

.title {
  font-weight: bold;
}

.welcome {
  font-weight: bold;
  text-align: right;
}

.otherprojects {
  font-weight: bold;
  margin-top: 1.5em;
  margin-right: auto;
  margin-bottom: 1.5em;
  margin-left: auto;
  vertical-align: middle;
  width: 75%;
}

.otherprojects-item {
    height: 175px;
    min-width: 150px;
    max-width: 300px;
    line-height: 175px;
    float: left;
    width: 24.75%;
}

.icon {
  display: -moz-inline-stack;
  display: inline-block;
  text-align: center;
}

img {
  /*vertical-align: middle;*/
  width: 135px;
  display: inline-block;
}



#footer {
  clear: both;
  text-align: center;
  width: 75%;
  margin: 10px auto;
  margin-top: 10px;
  margin-right: auto;
  margin-bottom: 10px;
  margin-left: auto;
  border-top: .5px solid #aaa;
  border-top-width: 0.5px;
  border-top-style: solid;
  border-top-color: rgb(170, 170, 170);
}

li {
  display: inline-block;
  padding: 10px;
  text-align: -webkit-match-parent;
}

ul {
  display: block;
  list-style-type: disc;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 40px;
  list-style-type: none;
}

a, a:active, a:focus {
  unicode-bidi: embed;
  white-space: nowrap;
  outline-color: initial;
  outline-style: initial;
  outline-width: 0px;
  color: #0645AD;
  text-decoration: none;
}

a:-webkit-any-link {
  color: -webkit-link;
  text-decoration: underline;
  cursor: auto;
}
